[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
djangorestframework = "*"
django-cors-headers = "*"
ruff = "*"
django-guardian = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
