.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 85vh;
  width: 100%;
  align-items: center;
}

.container {
  height: 85%;
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.formContainer {
  height: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 75%;
}

.previewContainer {
  height: 95%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 25vw;
}

.imgPreviewContainer{
  background-color: #e9ecef;
  height: 50vh;
  width: 25vw;
  align-self: center;
  justify-self: center;
  border-radius: 0.375rem;
  padding: 0.5rem;
  border: 1px solid #dee2e6;
}

.imagePreviewWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.imgPreview{
  max-width: 95%;
  height: auto;
}

