.activityCardWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  height: 100%;
  width: 100%;
  background: red;
}

.searchFavorite{
  position: fixed;
  bottom: 3.5rem;
  right: 9rem;
  z-index: 1000;
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
  background-color: rgba(252, 206, 98, 0.5);
  backdrop-filter: blur(1.5rem);
  padding: 1rem;
  border-radius: 0.25rem;
}

.toggleFilterBtn{
  position: fixed;
  bottom: 3.5rem;
  right: 3rem;
  z-index: 999;
  padding: 0.25rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
