.container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  height:5rem;
  min-height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.ratingContainer {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 1rem;
}

.reviewText {
  font-size: 16px;
  line-height: 1.5;
}

.descriptionContainer{
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 0.15rem;
}

.rapporterBtnContainer{
  display: grid;
  justify-content: end;
  align-items: baseline;
  gap: 1rem;
}

.iconContainer{
  display: flex;
  align-items: end;
  justify-content: end;
  grid-row: 2/3;
  border: 2px solid #ffc107;
  border-radius: 0.25rem;
  padding: 0 0.15rem 0 0.10rem;
  width: fit-content;
  justify-self: end;
  align-self: end;
}

.ratingSubcontainer2{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
