.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as necessary */
}

.prizes-container {
  position: relative;
}

.CardComp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
