.userChip {
  display: inline-block;
  height: 50px;
  max-height: 50px;
  width: 12rem;
  padding: 0 2rem 0 1rem;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #026981;
  color: white;
  margin: 0.5rem;
  font-weight: bold;
}

.usernameSpan{
  position: absolute;
}

.userChipIcon{
  float: left;
  margin: 0 0.5rem 0 -15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
